<%= form_for [@category, @category_item] do |f| %>

    <% if @category_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category_item.errors.count, "error") %> prohibited this category_item from being
            saved:</h2>

          <ul>
            <% @category_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, {class: 'form-control'} %>
    </div>

    <div class="field form-group">
      <%= f.label :kana %><br>
      <%= f.text_field :kana, {class: 'form-control'} %>
    </div>

    <div class="field form-group">
      <%= f.label :romaji %><br>
      <%= f.text_field :romaji, {class: 'form-control'} %>
    </div>

    <div class="field form-group">
      <%= f.label :audio_clip %><br>
      <%= f.file_field :audio_clip %>
    </div>

    <div class="actions form-group">
      <%= f.submit nil, { class: 'btn btn-primary' } %>
    </div>

<% end %>
