<p>
  <strong>Romaji:</strong>
  <%= @category_item.romaji %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @category_item.kana %>
</p>

<p>
  <strong>Title:</strong>
  <%= @category_item.title %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @category_item.category.title %>
</p>

<p>
  <strong>Female Audio Clip</strong>
  <%= render partial: 'audio_playback',
             locals: { audio_clip: { audio_data: @category_item.female_audio_clip,
                                     gender: "female",
                                     is_slow: false } } %>
</p>

<p>
  <strong>Slow Female Audio Clip</strong>
  <%= render partial: 'audio_playback',
             locals: { audio_clip: { audio_data: @category_item.slow_female_audio_clip,
                                     gender: "female",
                                     is_slow: true } } %>
</p>

<p>
  <strong>Male Audio Clip</strong>
  <%= render partial: 'audio_playback',
             locals: { audio_clip: { audio_data: @category_item.male_audio_clip,
                                     gender: "male",
                                     is_slow: false } } %>
</p>

<p>
  <strong>Slow Male Audio Clip</strong>
  <%= render partial: 'audio_playback',
             locals: { audio_clip: { audio_data: @category_item.slow_male_audio_clip,
                                     gender: "male",
                                     is_slow: true } } %>
</p>

<%= link_to 'Edit', edit_category_category_item_path(@category_item.category.id, @category_item.id) %> |
<%= link_to 'Back', category_path(@category_item.category) %>
