<p>
  <strong>Romaji:</strong>
  <%= @category_item.romaji %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @category_item.kana %>
</p>

<p>
  <strong>Title:</strong>
  <%= @category_item.title %>
</p>

<p>
  <strong>In category:</strong>
  <%= @category_item.category.title %>
</p>

<p>
  <strong>Audio Clip</strong>
  <% if @category_item.audio_clip.blank? %>
      No audio clip provided.
  <% else %>
      <%= image_tag 'play_icon.png', :id => 'play_icon' %>
      <audio id="audio_clip" src="<%= @category_item.audio_clip %>">
        Your computer does not support audio playback.
      </audio>

  <% end %>
</p>

<%= link_to 'Edit', edit_category_category_item_path(@category_item.category.id, @category_item.id) %> |
<%= link_to 'Back', categories_path %>
