<p>
  <strong>Romaji:</strong>
  <%= @category_item.romaji %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @category_item.kana %>
</p>

<p>
  <strong>Title:</strong>
  <%= @category_item.title %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @category_item.category.title %>
</p>

<p>
  <strong>Audio Clip</strong>
  <%= render('audio_playback') %>
</p>

<%= link_to 'Edit', edit_category_category_item_path(@category_item.category.id, @category_item.id) %> |
<%= link_to 'Back', category_path(@category_item.category) %>
