<!DOCTYPE html>
<html>
<head>
  <title>TaptaroDataManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

    <h1><a href="/categories">Home</a></h1>
    <hr>
    <%= yield %>
      <hr>
      <p>
        Download Categories:
        <%= link_to "CSV", csv_path(output_categories: true) %>
        <br>
        Download Category Items:
        <%= link_to "CSV", csv_path(output_category_items: true) %>
      </p>


</div>

</body>
</html>
